{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contact</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telday</th>
                <td>{{ entity.telday }}</td>
            </tr>
            <tr>
                <th>Televen</th>
                <td>{{ entity.televen }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ entity.mobile }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ entity.postcode }}</td>
            </tr>
            <tr>
                <th>Addressone</th>
                <td>{{ entity.addressone }}</td>
            </tr>
            <tr>
                <th>Addresstwo</th>
                <td>{{ entity.addresstwo }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ entity.distance }}</td>
            </tr>
            <tr>
                <th>Travelnation</th>
                <td>{{ entity.travelnation }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contact') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contact_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
